/* Основні стилі для header */
.header {
    background-color: #f0f0f0;
    padding: 10px 20px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    max-height: 50px;
}

.navigation {
    flex-grow: 1;
    text-align: right;
}

.header_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Відстань між пунктами меню */
}

.header_mi {
    margin: 0;
}

.header_mi button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.header_mi button:hover {
    background-color: #0056b3;
}
