<header class="header">
  <nav class="header__navigation">
    <div class="menu">
      <input type="checkbox" id="menu-check">
      <div class="menu-bin">
        <label for="menu-check">
           <span></span>
           <span></span>
           <span></span>
      </label>
      </div>
    </div>
    
   <div class="kodfun-galari">
       <div style="background-image: url('images/9.jpg');"></div>
       <div style="background-image: url('images/7.jpg');"></div>
       <div style="background-image: url('images/3.jpg');"></div>
       <div style="background-image: url('images/2.jpg');"></div>
       <div style="background-image: url('images/5.jpg');"></div>
       <div style="background-image: url('images/8.jpg');"></div>
       <div style="background-image: url('images/4.jpg');"></div>
       <div style="background-image: url('images/6.jpg');"></div>
  </div>
  </nav>
  
</header>
