<header class="header">
        <div class="header_container">
              <div class="header_logo">  
            <nav class="navigation">
            <ul class="header_menu">
                <li>Help</li>
                <li>Explore</li>
                <li><button>Download</button></li>
            </ul>
                    <div class="header_photo>"
                     <img src="images/1.png" alt="Icon"> 
                    </div>
            </nav>
              </div>
        </div>
</header>
