<header class="header">
    <div class="header_div_all">
        <div class="header_container">
              <div class="header_logo">
                <img src="https://github.com/KhrystynaLutsiv/travel1/commit/7b0633638badff78712e74e0a344aaee67fcff0f#diff-7c0c8efa3275bf00c5c706ddadf96e21f0628e966fff88ad32e7736c7fa91747" alt="Icon">
            </div>
            <div class="header_container_list">
            <ul class="header_menu">
                <li class="header_mi">Help</li>
                <li class="header_mi">Explore</li>
                <li class="header_mi"><button>Download</button></li>
            </ul>
            </div>
        
    </div>
    
</header>
